Miro: https://miro.com/welcomeonboard/ZVVzN3RKTmdkbldBVDExdlpMN1pXZWNENlJ6aUpSUjlzR0IzTHJwOU5oOXQyT3NxMENMQWRIVWJtZGFCNS9Tc0VjU0xLWElPR01kVTJTMTdEbHhOMENTbkNZMGN1SkxUSHZ6R0svdDh6WWVtRXE1NWdIUDR2M21FdTU3UHhNcnZyVmtkMG5hNDA3dVlncnBvRVB2ZXBnPT0hdjE=?share_link_id=194988149588
API: https://triangulo-alimentos.vercel.app/swagger
FrontEnd: http://10.130.42.119:5173
Mobile: http://localhost:8081